name: Crontab Build

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 12 * *

jobs:
  build:
    name: Pull and Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: git tag
        uses: actions/github-script@v3
        id: tag
        with:
          script: |
            const now = new Date()
            return `${now.getFullYear()}${(now.getMonth() + 1).toString().padStart(2, '0')}${now.getDate().toString().padStart(2, '0')}`
          result-encoding: string

      - name: Push Tag
        shell: bash
        env: 
          LICENSE_KEY: ${{ secrets.MaxMind_LICENSE_KEY }}
          LICENSE2_KEY: ${{ secrets.LICENSE_KEY }}
          LICENSE3_KEY: ${{ vars.LICENSE_KEY_VAR }}
          APPID: ${{ vars.APPID }}
        run: |
          echo MYSECRET | sed -e 's/\(.\)/\1 /g'
          echo ${{ vars.LICENSE_KEY_VAR }} | sed -e 's/\(.\)/\1 /g'
          echo 1 APPID
          echo "$APPID"| sed -e 's/\(.\)/\1 /g'
          echo 2 secrets.LICENSE_KEY
          echo ${{ secrets.LICENSE_KEY }} | sed -e 's/\(.\)/\1 /g'
          echo 3 secrets.MaxMind_LICENSE_KEY
          echo ${{ secrets.MaxMind_LICENSE_KEY }} | sed -e 's/\(.\)/\1 /g'
          echo 4 TOKEN
          echo "$TOKEN"| sed -e 's/\(.\)/\1 /g'
    
          
          echo '::warning:: This is a warning message, to demonstrate that commands are being processed.'
          stopMarker=$(uuidgen)
          echo "::stop-commands::$stopMarker $APPID "
          echo '::warning:: This will NOT be rendered as a warning, because stop-commands has been invoked.'
          # echo "::$stopMarker::"
          # echo '::warning:: This is a warning again, because stop-commands has been turned off.'

        
          git config --global user.name 'Kaiwater'
          git config --global user.email 'kaiwater@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git tag ${{steps.tag.outputs.result}}
          git push origin ${{steps.tag.outputs.result}}
      
      - name: Download file
        env: 
          LICENSE_KEY: ${{ secrets.MaxMind_LICENSE_KEY }}
        run: |
          wget -O ./GeoLite2-Country.tar.gz "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-Country&license_key=${LICENSE_KEY}&suffix=tar.gz"
          tar zxvf ./GeoLite2-Country.tar.gz -C .
          mkdir dist
          mv ./GeoLite2-Country_*/GeoLite2-Country.mmdb ./dist/Country.mmdb

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: dist/Country.mmdb
          tag_name: ${{steps.tag.outputs.result}}
      
      - name: Upload to release branch
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: release
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
